body {
    background-color: gray;
}
tr.boxrow:nth-child(even) {
    background-color: white;
}
tr.boxrow:nth-child(odd) {
    background-color: lightgray;
}
td {
    padding: 5px
}
.dateheader {
    color: green;
    font-weight: bold;
}
.divtext {
    background-color: #D0FFD0
}